<div class="sm:px-8 mt-4 sm:mt-8">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <header class="max-w-2xl">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
            <%= t(:label_header_skills) %>
          </h1>
          <div class="space-y-2">
            <h4 class="mt-6 text-xl font-bold dark:text-zinc-400">Профессиональные навыки</h4>
            <ol class="space-y-1 text-gray-500 list-decimal list-inside dark:text-zinc-100">
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Эксперт в Ruby:</span> 6 лет опыта работы
                с фреймворком позволили мне прекрасно понимать то, как быстро и эффективно можно решить ту или иную задачу.
              </li>
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Фронтенд:</span> постоянно использую Tailwind
                в кооперации с js-фреймворком Stimulus. Имею доступ к готовым компонентам, существенно ускоряющую любую разработку.
              </li>
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Автотесты:</span> работаю в основном с Rspec,
                но был опыт и с MiniTest. Там где это выгодно использую принципы TDD.
              </li>
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Технологические навыки:</span> можно очень долго
                спорить насчет того, а что какой специалист должен знать. В этом плане считаю наиболее характерным и правильным
                дорожную карту представленную ниже. Она более-менее покрывает ту основу и я постарался в ней обозначить те навыки,
                которыми владею.
              </li>
            </ol>

            <h4 class="mt-6 text-xl font-bold dark:text-zinc-400">Soft-навыки</h4>
            <ol class="space-y-1 text-gray-500 list-decimal list-inside dark:text-zinc-100">
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Лидерство и командная работа:</span> опыт
                управления командами до 8 человек, создание мотивирующей и продуктивной рабочей атмосферы.
              </li>
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Менторские навыки:</span> за счет понимания
                актуальных технологий отрасли мне всегда приятно помочь начинающим коллегам вырасти как специалист или
                соориентировать с правильными направленями развития.
              </li>

              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Коммуникативные навыки:</span> эффективное
                ведение диалога, отыгрывание там, где это нужно для проекта адвоката дьявола, постоянное улучшение своих навыков
                за счет чтения профильных книг или занятий с репетитором. Сейчас в процессе занятия по курсу ораторского мастерства
                с заслуженным артистом РФ - Андреем Борисовичем Моргуновым.
              </li>
            </ol>

            <h4 class="mt-6 text-xl font-bold dark:text-zinc-400">Дополнительные навыки</h4>
            <ol class="space-y-1 text-gray-500 list-decimal list-inside dark:text-zinc-100">
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Межкультурное взаимодействие:</span> опыт
                работы в международных командах и понимание кросс-культурных особенностей.
              </li>
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Обучение и развитие:</span> постоянное
                самосовершенствование и обучение новым навыкам. Для меня огромным плюсом является наличие со стороны компании
                подобных программ.
              </li>
              <li>
                <span class="font-semibold text-gray-900 dark:text-zinc-100">Языковые навыки:</span> русский язык на уровне родного,
                английский - свободное чтение технической документации, текстовые беседы. Сейчас работаю над поднятием устной речи
                до адекватного уровня.
              </li>
            </ol>
          </div>
        </header>
        <div class="mt-16 sm:mt-20">
          <%= image_tag "backend_roadmap" %>
        </div>
      </div>
    </div>
  </div>
</div>