<div class="sm:px-8 mt-4 sm:mt-8">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <header class="max-w-2xl">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
            Что я использую, чтобы эффективно работать.
          </h1>
          <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
            У всех нас есть привычки и свои инструменты, которые позволяют нам делать свою работу лучше. Вот большой
            список
            того, что мне помогает оставаться продуктивным.
          </p>
        </header>
        <div class="mt-16 sm:mt-20">
          <div class="space-y-20">
            <section aria-labelledby=":S1:" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
              <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                <h2 id=":S1:" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">
                  Рабочее место
                </h2>
                <div class="md:col-span-3">
                  <ul role="list" class="space-y-16">
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">16” Lenovo
                        IdeaPad 5 Pro,
                        R7 5800H, 16GB RAM (2021)</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                        В течении трех лет работал, используя Fedora, как основную ОС для работы, и обычного
                        использования.
                        Прошел все круги ада начиная с Wine, заканчивая установкой драйверов Nvidia. С новым ноутбуком и
                        выходом
                        WSL перешел на Windows.
                      </p></li>
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">Glorious Model
                        D</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">От мышки нужно лишь то,
                        чтобы она кликала.
                        А дырочки конкретно в данной модели прекрасно помогают отвлечься выковыриванием грязи, которая в
                        них попала.</p></li>
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">Sennheiser
                        MOMENTUM 4</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Обожаю работать под
                        классическую музыку,
                        поэтому особое внимание обращаю на наушники, данная модель особо примечательна безумным
                        шумоподавлением.</p></li>
                  </ul>
                </div>
              </div>
            </section>
            <section aria-labelledby=":S2:" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
              <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                <h2 id=":S2:" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">Инструменты разработки</h2>
                <div class="md:col-span-3">
                  <ul role="list" class="space-y-16">
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">RubyMine</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Тут возможен безумный
                        холивар, а
                        какая IDE все-таки лучше, но давайте просто согласимся, что он удобный.</p></li>
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">TailwindUI</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Прекрасный сборник готовых
                        компонентов,
                        который очень здорово экономит время на однотипную верстку. В моем распоряжении купленная
                        версия.</p></li>
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">ChatGPT 4</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Являюсь участником
                        бета-версии OpenAI, чтобы
                        держать потенциальных врагов, как можно ближе к себе.
                      </p></li>
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">AWS + VPN</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                        Для личных нужд имею виртуальный сервер в Amazon Web Service, на котором, в том числе,
                        крутится соственный VPN на основе WireGuard.
                      </p></li>
                  </ul>
                </div>
              </div>
            </section>
            <section aria-labelledby=":S3:" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
              <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                <h2 id=":S3:" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">Дизайн</h2>
                <div class="md:col-span-3">
                  <ul role="list" class="space-y-16">
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">Figma</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">По своей работе часто
                        приходилось помогать фронтенд-разработчикам с переносом макетов в компоненты, обсуждении
                        архитектуры
                        SCSS-ассетов, цветов и прочего.</p></li>
                  </ul>
                </div>
              </div>
            </section>
            <section aria-labelledby=":S4:" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
              <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                <h2 id=":S4:" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">Продуктивность</h2>
                <div class="md:col-span-3">
                  <ul role="list" class="space-y-16">
                    <li class="group relative flex flex-col items-start">
                      <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">Notion</h3>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                        Человеческая память безусловно очень объемная и удивительная, но для структурирования задач,
                        которые
                        нужно сделать как в жизни, так и в учебе данный сервис прекрасно справляется.
                      </p></li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>